body {
    background-color: #262626;
    font-family: 'Roboto', sans-serif;
    font-size: 1.5rem;
}

/* TOP */

.navbar {
    display: flex;
    justify-content: space-between;
    height: 5rem;
    padding-top: 2rem;
    position: fixed;
    width: 100%;
}

.navbar a {
    color: white;
    text-decoration: none;
    padding: 1rem 0.8rem;
    transition: color 0.25s;
}

.left {
    display: flex;
    justify-content: flex-start;
    letter-spacing: 0.5rem;
    backdrop-filter: blur(10px);
    align-items: center;
    margin-left: 2rem;
    border-radius: 1rem;
}

.right {
    display: flex;
    justify-content: flex-end;
    margin-right: 3rem;
}

#pfp {
    width: 12rem;
    border-radius: 50%;
    margin-right: 1rem;
    opacity: 0.6;
}

.homebutton, .aboutbutton, .hobbiesbutton, .projectsbutton, .contactbutton {
    margin-left: 1.5rem;
}

.homebutton a:hover, 
.hobbiesbutton a:hover, 
.projectsbutton a:hover, 
.contactbutton a:hover {
    color: #631FDB;
}

.aboutbutton a {
    color: #631FDB;
}

.aboutbutton a:hover {
    color: white;
}

/* CONTENT */

.gap {
    height: 8rem;
}
.about {
    display: flex;
    justify-content: center;
    margin-left: 7rem;
    margin-right: 7rem;
    color: white;
    letter-spacing: 0.25rem;
}